body
{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
a
{
    position: absolute;
    
}
p
{
    color: red;
}
div
{
    text-align: center;
}

#trim
{
    position:absolute;
    left:90%;
    top: 88%;
}
#textare
{
    width: 220px;
}
