body
{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
a
{
    position: absolute;
    
}
p
{
    color: red;
}
div
{
    text-align: center;
}

#trim
{
    position:absolute;
    left:90%;
    top: 88%;
}
#textare
{
    width: 220px;
}
#button
{
    position: relative;
    width: 25%;
    height: 50%;
    left: 1%;
    border-radius: 25px;
    color: rgb(128, 122, 0);
    background-color: red;
}
#button:hover
{
    opacity: 30%;
    cursor: pointer;
}